<div class="center">
	<mat-card class="container">
		<mat-card-title>The Hacking Playground</mat-card-title>
		<mat-card-content class="content">
			<form class="example-form">
				<mat-form-field class="example-full-width example-margin">
    				<input matInput placeholder="Hacker name" required [formControl]="hackerName">
					<mat-error *ngIf="hackerName.invalid">{{getErrorMessageForHackerName()}}</mat-error>
  				</mat-form-field>
				<mat-form-field class="example-full-width example-margin">
    				<input matInput type="password" placeholder="Password" required [formControl]="password">
					<mat-error *ngIf="password.invalid">{{getErrorMessageForPassword()}}</mat-error>
  				</mat-form-field>
			</form>
		</mat-card-content>
		<mat-card-actions align="end">
			<div class="withFlex"></div>
			<button mat-flat-button type="submit" color="primary" (click)="logIn()">LogIn <mat-spinner diameter=20 color="accent" *ngIf="loading"></mat-spinner></button>
			<button mat-stroked-button routerLink="/register" color="primary">Register</button>
		</mat-card-actions>
	</mat-card>
</div>
