<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Songs Scrapper</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Songs Scraper</a>
    </nav>
    <% if(errorMessage) {%>
      <div class="alert alert-danger" role="alert">
        <p class="mt-0 mb-0"><%= errorMessage %></p>
      </div>
    <% }%>
    <div class="container">
      <h1>Songs Scrapper</h1>

      <form action="/scrap" method="post">
        <div class="form-group">
          <label for="pageLink">Link to page with song</label>
          <input type="text" class="form-control" id="pageLink" name="pageLink" placeholder="e.g.: https://spiewnik.wywrota.pl/piosenki-turystyczne/sto-lat/12581">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
