<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Songs Scrapper</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Songs Scraper</a>
    </nav>
    <div class="container">
      <div class="jumbotron mt-5">
        <h1 class="display-4"><%= title %></h1>
        <div class="row">
          <div class="col-7">
            <% for (var i = 0; i < scrappedText.length; i++) { %>
              <div class="mt-4">
                <% for (var j = 0; j < scrappedText.length; j++) { %>
                  <p class="mt-0 mb-0"> <%- scrappedText[i][j] %> </p>
                <% } %>
              </div>
            <% } %>
          </div>
          <div class="col-5 mt-5">
            <h2>Chords</h2>
            <% for (var j = 0; j < chordsPerLine.length; j++) { %>
                <% if(breaks.includes(j)){ %>
                  <h4 class="mt-4 mb-0"> <%- chordsPerLine[j] %> </h4>
                <% }else {%>
                  <h4 class="mt-0 mb-0"> <%- chordsPerLine[j] %> </h4>
                <%}%>
            <% } %>
          </div>
        </div>
      </div>
    </div>

              <!-- <p class="mt-0 mb-0 col-sm-6"> <%- chordsPerLine[j] %> </p> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
