<h1 mat-dialog-title>Provide docker-compose yaml</h1>
<div mat-dialog-content>
	<mat-form-field class="example-full-width example-margin textarea full-width">
		<textarea 
				[formControl]="dockerComposeYaml"
			  	cdkTextareaAutosize
        	  	cdkAutosizeMinRows="20"
			  	cdkAutosizeMaxRows="20"
			  	matInput 
			  	maxlength="5000"
			  	placeholder="Docker compose yaml"
			  	[formControl]="dockerComposeYaml">
		</textarea>
		<mat-error *ngIf="dockerComposeYaml.invalid">{{getErrorMessageForDockerComposeYaml()}}</mat-error>

	</mat-form-field>
</div>
<div mat-dialog-actions>
	<div class="withFlex"></div>
	<button mat-flat-button color="primary" (click)="submitDockerComposeYaml()" >Submit</button>
	<button mat-stroked-button color="primary" (click)="onNoClick()">Cancel</button>
</div>

