<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <script>
      var formData = new FormData();
      formData.append("login","admin");
      formData.append("password","admin");

      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "http://localhost:3000/login", true);
      xhttp.send(formData);
    </script>

  </body>
</html>
