<mat-toolbar class="mat-elevation-z8" color="primary">
<a (click)="routeToMainPage()"><h1>The Hacking Playground</h1></a>
<span class="fill-remaining-space"></span>
<button *ngIf="currentHacker" mat-flat-button color="primary" routerLink='challenges'>Challenges</button>
<button *ngIf="currentHacker" mat-flat-button color="primary" routerLink='add-challenge'>Add challenge</button>
<button *ngIf="currentHacker" mat-flat-button color="primary" routerLink='users-ranking'>Ranking</button>
<button *ngIf="currentHacker" mat-flat-button color="primary" (click)="logout()">Logout</button>
<button *ngIf="!currentHacker" mat-flat-button color="primary" routerLink='login'>Login</button>
<button *ngIf="!currentHacker" mat-flat-button color="primary" routerLink='register'>Register</button>
</mat-toolbar>
