.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:link, a:visited {
    color: white;
}
a:hover {
    color: white;
}

mat-toolbar{
	position: sticky;
	z-index: 99999!important;
	top: 0;
}
