<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    <title>Hello, world!</title>
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-light" href="/">Tommy's first blog</a>
</nav>
<div class="container mt-5 sticky-top">
    <h2 th:text="${blogPost.title}"></h2>
    <div class="jumbotron">
        <p th:text="${blogPost.content}"></p>
    </div>
    <h3>Comments:</h3>
    <table>
        <th:block th:each="comment: ${comments}">
            <tr>
                <div class="card w-100 mt-3">
                    <div class="card-body">
                        <h5 class="card-title" th:utext="${comment.author}"></h5>
								<!-- <h5 class="card-title" th:text="${comment.author}"></h5> -->
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${#temporals.format(comment.creationDate, 'dd-MM-yyyy HH:mm')}"></h6>
                        <p class="card-text" th:text="${comment.content}">Awesome content, keep it up man!</p>
                    </div>
                </div>
            </tr>
        </th:block>
    </table>
    <form class="mt-5 mb-5" action="#" th:object="${commentDto}" th:action="@{/blog-post/{id}/add-comment(id=${blogPost.id})}" method="post">
        <div class="form-group">
            <input th:field="*{author}" type="text" class="form-control mb-2" placeholder="Introduce yourself" >
            <textarea th:field="*{content}" placeholder="Write a comment" class="form-control mb-2" rows="3"></textarea>
            <div class="d-flex flex-row-reverse">
                <input type="submit" value="Add comment" class="btn btn-primary" role="button"/>
            </div>
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
