<html>
    <head>
        <title>Hillary</title>
		  <link style=<link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

    </head>
    <body>
		<h1>Where are my glasses?</h1>
		{% if images.rowcount > 1 %}
			<h3>
			I'm a big fan of sunglasses. I've decided to create this website to gather information about these and to share my passion with other people. Below you can find images of my favourite ones and names of people on which I saw them first time in my life. Click to get more information about them! Can you guess which of them I own as well?
			</h3>
		{% endif %}
		{% if images.rowcount == 1 %}
		<a href="/"><h2>Go back</h2></a>
		{% endif %}
		<section class="images">
		  {% for image in images %}
			<div class="image">
					  <a href="/image/{{image.id}}"><img src="/static/{{image.pathToImage}}" alt={{image.name}}/></a>
		  		<h1>{{ image.imageName }}</h1>
			</div>
		  {% endfor %}
		</section>
		{% if images.rowcount == 1 %}
		<h4> Here I plan to put some more details about this glasses</h4>
		{% endif %}
    </body>
</html>
