.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
}

#carouselExampleIndicators {
  margin-top: 1vh;
  height: 65vh;
  width: auto;
  overflow: hidden;
}

.container{
  margin-top: 10vh;
  text-align: center;
}

