.container {
  width: 60vw;
  height: 66vh;
}
.center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.content {
	padding-top: 5vh;
}

p { display: inline }

.slider {
	width: 80vw;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.example-chip-list {
  width: 100%;
}

.one-fourth-of-full-width {
	width: 23%;
}

.withFlex {
	flex: 1 1 auto;
}

.textarea {
	resize: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
mat-spinner{
	float: left;
	margin-top: 7px;
	margin-right: 8px;
}
