<div class="center">
	<mat-card class="container">

		<mat-card-title>Add new challenge</mat-card-title>
		<mat-divider></mat-divider>

		<mat-card-content class="content">
	 		<form class="example-form">
  				<mat-form-field class="example-full-width example-margin">
    				<input matInput placeholder="Name of challenge" required [formControl]="challengeName">
					<mat-error *ngIf="challengeName.invalid">{{getErrorMessageForChallengeName()}}</mat-error>
  				</mat-form-field>
	
				<mat-form-field class="example-full-width example-margin textarea">
    				<textarea matInput maxlength="250" placeholder="Description" [formControl]="description"></textarea>
  				</mat-form-field>
				
				<section>
    				<mat-form-field class="one-fourth-of-full-width example-margin">
      				<input matInput placeholder="Source code URL" [formControl]="sourceCodeUrl">
    				</mat-form-field>
	
    				<mat-form-field class="one-fourth-of-full-width example-margin">
      				<input matInput placeholder="Write up URL" [formControl]="writeUpUrl">
    				</mat-form-field>
	
    				<mat-form-field class="one-fourth-of-full-width example-margin">
      				<input matInput placeholder="Docker image name" required [formControl]="dockerImageName">
						<mat-error *ngIf="dockerImageName.invalid">{{getErrorMessageForDockerImageName()}}</mat-error>
    				</mat-form-field>

    				<mat-form-field class="one-fourth-of-full-width example-margin">
      				<input type="number" matInput placeholder="Port" required [formControl]="imagePort">
						<mat-error *ngIf="imagePort.invalid">{{getErrorMessageForImagePort()}}</mat-error>
    				</mat-form-field>
				</section>

				<mat-form-field class="example-chip-list example-margin">
  					<mat-chip-list #tagsList aria-label="tag selection">
    					<mat-chip *ngFor="let tag of tags" [selectable]="selectable"
             				[removable]="removable" (removed)="removeTag(tag)">
      					{{tag.name}}
    					</mat-chip>
    				<input placeholder="Propose some tags for your challenge, for example SQL Injection or XSS"
           				[matChipInputFor]="tagsList"
           				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           				[matChipInputAddOnBlur]="addOnBlur"
           				(matChipInputTokenEnd)="addTag($event)">
  					</mat-chip-list>
				</mat-form-field>

				<mat-form-field class="example-chip-list example-margin">
  					<mat-chip-list #flagsList aria-label="flag selection">
    					<mat-chip *ngFor="let flag of flags" [selectable]="selectable"
             				[removable]="removable" (removed)="removeFlag(flag)">
      					{{flag.name}}
    					</mat-chip>
    				<input placeholder="Flags which user have to find in your chalenge"
           				[matChipInputFor]="flagsList"
           				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           				[matChipInputAddOnBlur]="addOnBlur"
           				(matChipInputTokenEnd)="addFlag($event)">
  					</mat-chip-list>
				</mat-form-field>
			</form>
		</mat-card-content>
		<mat-card-actions align="end">
			<div class="withFlex"></div>
			<button class ="example-margin" mat-flat-button type="submit" color="primary" (click)="addChallenge()">Add new challenge<mat-spinner diameter=20 color="accent" *ngIf="loading"></mat-spinner></button>
		</mat-card-actions>
	</mat-card>
</div>
