.challenge {
  width: 96vw;
  white-space: nowrap!important;
}

.withFlex {
	flex: 1 1 auto;
}

.example-full-width {
  width: 100%;
}

.example-margin {
  margin: 10px;
}

mat-spinner{
	float: left;
	margin-top: 7px;
	margin-right: 8px;
}

mat-card-content{
	flex: 1;
}

mat-card:hover {
	background: #F5F5F5;
}

mat-card {
	cursor: pointer;
}
