<mat-card class="challenge">
	<mat-grid-list cols="3" rowHeight="8vw">
		<mat-grid-tile>
			<mat-card-content>
					  <h2>{{ challenge.name | slice:0:35 }}<span *ngIf="challengeNameTooLong">...</span></h2>
				<p>{{ challenge.description | slice:0:80 }}<span *ngIf="challengeDescriptionTooLong">...</span></p>
				<mat-chip-list aria-label="Fish selection">
  					<mat-chip *ngFor='let tag of challenge.tags'>{{ tag }}</mat-chip>
				</mat-chip-list>
			</mat-card-content>
		</mat-grid-tile>
		<mat-grid-tile>
				<h4 class="example-margin">Points per flag: {{challenge.difficulty}}</h4>
		</mat-grid-tile>
		<mat-grid-tile>
			<div class="buttons-row" *ngIf="numberOfFlagsGotByHacker == totalNumberOfFlags; else notSolved">
				<p class="example-margin">Flags score: {{numberOfFlagsGotByHacker}}/{{totalNumberOfFlags}}</p>
				<button *ngIf="restartingGame" disabled mat-flat-button type="submit" class="example-margin" color="primary" (click)="runGame()">Try it out! <mat-spinner diameter=20 color="accent" *ngIf="loadingGame"></mat-spinner></button>
				<button *ngIf="!restartingGame" mat-flat-button type="submit" class="example-margin" color="primary" (click)="runGame()">Try it out! <mat-spinner diameter=20 color="accent" *ngIf="loadingGame"></mat-spinner></button>
				<button mat-flat-button color="accent" class="example-margin" (click)="restartGame()">Reset machine <mat-spinner diameter=20 color="primary" *ngIf="restartingGame"></mat-spinner></button>
				<button mat-flat-button disabled class="example-margin">Submit flag</button>
				<button mat-stroked-button color="primary" class="example-margin" (click)="showStatistics()">Statistics</button>
			</div>
			<ng-template #notSolved>
				<div class="buttons-row">
				<p class="example-margin">Flags score: {{numberOfFlagsGotByHacker}}/{{totalNumberOfFlags}}</p>
					<button *ngIf="restartingGame" disabled mat-flat-button type="submit" class="example-margin" color="primary" (click)="runGame()">Try it out! <mat-spinner diameter=20 color="accent" *ngIf="loadingGame"></mat-spinner></button>
					<button *ngIf="!restartingGame" mat-flat-button type="submit" class="example-margin" color="primary" (click)="runGame()">Try it out! <mat-spinner diameter=20 color="accent" *ngIf="loadingGame"></mat-spinner></button>
					<button mat-flat-button color="accent" class="example-margin" (click)="restartGame()">Reset machine <mat-spinner diameter=20 color="primary" *ngIf="restartingGame"></mat-spinner></button>
					<button mat-flat-button color="warn" class="example-margin" (click)="submitFlag()">Submit flag</button>
					<button mat-stroked-button color="primary" class="example-margin" (click)="showStatistics()">Statistics</button>
				</div>
			</ng-template>
		</mat-grid-tile>
	</mat-grid-list>
</mat-card>
