	<h1 mat-dialog-title>Flag submission</h1>
	<div mat-dialog-content>
   <form class="example-full-width">
  		<mat-form-field class="example-full-width example-margin">
  			<input matInput placeholder="Provide a flag for submission" required [formControl]="flag" >
			<mat-error *ngIf="flag.invalid">{{getErrorMessage()}}</mat-error>
  		</mat-form-field>
	</form>
	
	</div>
	<div mat-dialog-actions>
  	<div class="withFlex"></div>
  	<button mat-flat-button color="primary" (click)="submitFlag()" >Ok</button>
  	<button mat-stroked-button color="primary" (click)="onNoClick()">Cancel</button>
	</div>
