.container {
  width: 30vw;
  height: 32vh;
}

.center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.withFlex {
	flex: 1 1 auto;
}

mat-spinner{
	float: left;
	margin-top: 7px;
	margin-right: 8px;
}

