<div class="container mt-5">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor="let statisticChunk of statisticChunks"
                         >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ statisticChunk.timestamp() | date:'medium' }}
        </mat-panel-title>
        <mat-panel-description *ngIf="isStatisticsInfo(statisticChunk)">
          {{ statisticChunk.uri }}
          <button mat-button color="primary">{{ statisticChunk.method }}</button>
        </mat-panel-description>
        <mat-panel-description *ngIf="isFlagSubmissionInfo(statisticChunk)">
          Flag submission
          <button mat-button color="primary">{{ statisticChunk.flagSubmissionResult}}</button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngIf="isStatisticsInfo(statisticChunk)">
        <h5>Headers:</h5>
        <div *ngFor="let header of statisticChunk.headers | keyvalue">
          <p>
            <b>{{header.key}}</b>: {{header.value}}
          </p>
        </div>
        <h5>Body:</h5>
        <p>{{statisticChunk.body}}</p>
        <h5>Query String:</h5>
        <p>{{statisticChunk.queryString}}</p>
        <h5>Parameters:</h5>
        <div *ngFor="let parameter of statisticChunk.parameters | keyvalue">
          <p>
            <b>{{parameter.key}}</b>: {{parameter.value}}
          </p>
        </div>
      </div>

      <div *ngIf="isFlagSubmissionInfo(statisticChunk)">
        <h5>Submitted flag value:</h5>
        <p>{{statisticChunk.flag}}</p>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>