<!doctype html>
<html lang="en">
  <head>
	 <title>Converter</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
	
	<div class="container mt-5">
        {% if errorMessage is defined %}
          <div class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
        {% endif %}
        <h1>{{title}}</h1>
        <form action="/" method="POST">
			    <textarea rows="10" class="form-control" id="mvnToConvert" name="mvnToConvert">{{mvnToConvert}}</textarea>
			    <button class="btn btn-primary mt-2" id="submitButton" type="submit">Convert</button>
        </form>

        <div class="mt-5">
			    <textarea rows="10" class="form-control" id="gradle" name="gradle" disabled>{{gradleDependencies}}</textarea>
        </div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
