<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Best Meme Ever</title>
</head>
<body>
<header th:insert="fragments/navbar.html :: header" class="sticky-top"></header>
<div class="container mt-5">
    <div th:if="${flag}">
        <h1>Congratulations! Here you are:</h1>
        <p th:text="${flag}"></p>
    </div>
    <h1>Best Meme Ever:</h1>
    <div class="card mt-5 mb-5 shadow-lg p-3 bg-white rounded">
        <a th:name="${meme.id}"></a>
        <div class="card-header text-center mb-4">
            <h5 th:text="${meme.name}"></h5>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img th:src="@{'image/{path}'(path=${meme.pathToMeme})}"/>
            </div>
            <div class="col"></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <h5>Author: [[${meme.author}]]</h5>
                    <h5>Date: [[${#dates.format(meme.creationDate, 'dd-MM-yyyy HH:mm:ss')}]]</h5>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm">
                    <h5 class="align-right">Points: [[${@voteFacade.getPointsForId(meme.id)}]]</h5>
                    <form action="#" th:action="@{'/vote/{id}'(id=${meme.id})}" th:method="get" >
                        <div th:if="${@voteFacade.didUserVotedFor(meme.id)} == true">
                            <a href="#" class="btn btn-secondary disabled" id="submitButtonDisabled">Vote</a>
                        </div>

                        <div th:if="${@voteFacade.didUserVotedFor(meme.id)} == false">
                            <button class="btn btn-primary" type="submit" id="submitButton">Vote</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
