<mat-tab-group>
  <mat-tab label="Single docker image"> <app-add-docker-challenge></app-add-docker-challenge> </mat-tab>
  <mat-tab label="Docker compose"> <app-add-docker-compose-challenge></app-add-docker-compose-challenge> </mat-tab>
</mat-tab-group>

