<div class="logo">
	<div class="center">
		<h1> The Hacking Playground </h1>
		<h2> Portal which supports creating safe applications </h2>
		<button mat-raised-button>Learn More</button>
	</div>
</div>
<div class="container question-section">
	<h1>How can I benefit by using the platform?</h1>
	<div class="inFlexBox">
		<div class="margin-right">
			<p>
				Are you a Pentester?
			</p>
			<p>
				Improving your cybersecurity skills never was as easy as with The Hacking Playground. People from all over the world come here and deploy their applications so you can test them and find out if they are secure enough.
			</p>

			<p>
				Are you a Software Developer?
			</p>
			<p>
				Before you let a black hat hacker to humiliate your application deployed on production, deploy it here. You will get fast feedback if it is enough secure.
			</p>

			<p>
				Do you look for cybersecurity specialist?
			</p>
			<p>
				Just look at the ranking and contact with best hackers on the world. They surely know how to help your company to improve cybersecurity level!
			</p>
   	</div>
		<img src="https://www.equitymagazine.pl/wp-content/uploads/2019/06/zyski-analiza.jpg" />
	</div>
</div>
<div class="container question-section">
	<div class="even">
		<h1>How to start using the platform?</h1>
	</div>
	<div class="inFlexBox">
		<img src="https://lh6.googleusercontent.com/proxy/Tw4ReGrGezBNV3hyN_JWskMaMCAv2jaT2YcfHqlmcJjFcdFJogPkmqZj7x-P-0oayYdtpNX0R7f33LikxMBP3gORMK_K-36kaXKvyiaS" />
		<p class="margin-left">
			After creating new account, using platform is easy. In section Challenges you will find apllications deployed by other users. After clicking button "Try it out!", platform will direct you to application so you can test if it is secure. Once you find a flag, you can submit it in "Challenges" section by clicking a button "Submit flag". Once you mess up with the machine too hard, you can easily reset it by clicking "Reset machine". In "Ranking" section you can find users sorted by score they've got. In section "Add challenge" you can add a challenge - the only thing you need to have is a docker image in DockerHub repository and exposed port of container. In case of docker-compose applications you will need to give a configuration file additionally.
   	</p>
	</div>
</div>
<div class="container question-section mb-5">
	<h1>Few words about project</h1>
	<div class="inFlexBox">
		<p class="margin-right">
			Project The Hacking Playground is the last project made on my University (Lodz University of Technology). It is a part of my Bachelor Thesis. Inspiration for it came after taking part in hackathon HackYeah in 2019 year in Warsaw.
   	</p>
		<img src="https://iai.tv/assets/Uploads/Graduation.jpg" />
	</div>
</div>
