.logo{
	height: 20vw;
	background-color: #673AB7;
	color: white;
}

.center {
  padding-top: 12vh;
  height: 20vh;
  text-align: center;
}

button {
	margin-top: 5vh;
}

.question-section{
	margin-top: 20vh;
}

p{
}

img{
	max-height: 40vh;
}

.inFlexBox{
	display: flex;
	justify-content: space-between;
}

.margin-left{
	margin-left: 5vw;
}

.margin-right{
	margin-right: 5vw;
}

.even{
	text-align: right
}
