img{
	max-height: 20vh;
	max-width: 20vw;
}

.images{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.image{
	width: 20vw;
	height: 20vh;
	text-align: center;
	margin: 30px;
	margin-top: 10vh;
	cursor: pointer;
}
